#aboutMe-container {
  background-image: url("images/pinkpaint.png");
}

#header-section {
  background-image: url("images/header.jpg");
}

h1 {
  font-family: "Vollkorn", serif;
}

h2 {
  font-family: "Vollkorn", serif;
}

body {
  font-family: "Reem Kufi", sans-serif;
  color: black;
}

#portfolio-section {
  opacity: 0.9;
}
